.title {
  letter-spacing: 3px;
  color: #d7dadc;
  font-size: 40px;
}

.seperator {
  margin-bottom: 30px;
}

.square {
  border: 3px solid #3a3a3c;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  width: 60px;
  margin: 4px;
  padding: 0px;
  text-align: center;
  background-color: #121213;
  color: white;
}

/* .square:focus {
} */
