.title {
  letter-spacing: 5px;
  color: #d7dadc;
  font-size: 40px;
  margin-bottom: 0px;
}

.seperator {
  margin-bottom: 10px;
  margin-top: 2px;
}

.square {
  border: 3px solid #3a3a3c;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  width: 60px;
  margin: 4px;
  padding: 0px;
  text-align: center;
  background-color: #121213;
  color: white;
}

/* .square:focus {
} */

.button {
  margin-top: 14px;
}

.badLettersList {
  text-align: center;
  padding-left: 0px;
  margin: 0px;
}

li {
  font-size: 18px;
  display: inline;
}

.badLetters {
  margin-top: 8px;
  margin-bottom: 0px;
}

.correctWord {
  margin-top: 8px;
  color: lightgreen;
}

.status {
  margin-bottom: 20px;
  color: lightgreen;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.showButton {
  margin-top: 40px;
}
